body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Couleur de fond de base
    background: linear-gradient(to left, #bdc3c7, #2c3e50); */

    /* Niveau Facile*/
    /* background: linear-gradient(to right, #1D976C, #93F9B9); */

    /* Niveau Moyen */
    /* background: linear-gradient(to right, #f46b45, #eea849); */

    /* Niveau Difficile */
    /* background: linear-gradient(to left, #ff9966, #ff5e62); */

    overflow-x: hidden;
}


/* Niveau Facile */
.bg-facile {
    background: linear-gradient(to right, #1D976C, #93F9B9);
}

/* Niveau Moyen */
.bg-moyen {
    background: linear-gradient(to right, #f46b45, #eea849);
}

/* Niveau Difficile */
.bg-difficile {
    background: linear-gradient(to left, #ff9966, #ff5e62);
}

.police-facile {
    font-family: "Itim", cursive;
    font-style: normal;
}
.police-moyen {
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.police-difficile {
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-size: 30px;
}

.green span {
    color: green;
}

.red span {
    color: red;
}

.blue span {
    color: blue;
}

.orange span {
    color: orange;
}

h1 {
    font-size: 35px;
    color: black;
}

.explication-game {
    text-align: center;
    font-size: 20px;
    color: black;
}

.position-carte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.consigne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: black;
}

.carte {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.position-button {
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

.position-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    margin: 20px 0;
    font-size: 1.2em;
    color: #333;
}

#tentatives {
    font-weight: bold;
}

.number {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.number input {
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.guess-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-proposition label {
    font-size: 20px;
    color: black;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-submit button{
    padding: 10px 25px;
    background-color: rgb(68, 145, 171);
    color: white;
    /* border: none; */
    border-radius: 10px;
    cursor: pointer;
}

.btn-submit button:hover {
    background-color: rgb(46, 116, 140);
}

footer {
    text-align: center;
    font-size: 20px;
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

.linkedin i {
    color: #2867B2;
    font-size: 40px;
}

.linkedin i:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;

}

.github i {
    font-size: 40px;
    color: #222222; 
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s; /* Transition douce */
}

.github i:hover {
    color: #fff;
    background-color: #222222;
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform 0.3s;
    margin-right: 2px;
    cursor: pointer;
}


/* Bouton pour ouvrir le pop-up */
.open-overlay {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
}

.open-overlay button {
    padding: 5px 10px;
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.open-overlay button:hover {
    background-color: lightslategray;
}


/* Style pour l'overlay et la boîte modale */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.close-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-overlay button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.close-overlay button:hover {
    background-color: #555;
}

.popup {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    text-align: left;
    position: relative;
}

.close i {
    color: red;
}

.close i:hover {
    color: rgb(214, 15, 15);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.niveau-facile { color: lightgreen; }
.niveau-moyen { color: lightsalmon; }
.niveau-difficile { color: lightcoral; }


/* Bouton pour relancer le jeu et bouton de niveau suivant */
#resetButton, #nextLevelButton {
    padding: 10px 20px;
    background-color: burlywood;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    transition: transform 0.3s;
}

#resetButton:hover, #nextLevelButton:hover {
    transform: scale(1.1);
}

/* Section du jeu */
#jeu {
    margin-top: 20px;
}


.popup-congrats {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn 0.5s ease;
}
.hidden { display: none; }



/* Media Queries */
@media screen and (max-width: 768px) {

    h1, h2, .number{
        font-size: 25px;
        text-align: center;
    }
    .carte {
        width: 300px;
        height: 350px;
    }

    .carte img {
        width: 250px;
        height: 300px;
    }

    .number input {
        width: 100px;
    }

    .btn-submit button {
        padding: 10px 15px;
    }

    .icon-group {
        gap: 10px;
    }
}

/* Pour les Ecrans Tablette et Ordinateur */

@media screen and (min-width: 768px) {
    

        @keyframes title {
            0% {
                right: -50%;
                
            }
            100% {
                right: 30%;
            }
        }

        .title {
            position: absolute;
            right: 30%;
            transition-duration: 2s;
            transition-delay: 0.2s;
            animation: title 8s ;
        }

        
        @keyframes carte {
            0% {
                transform: rotate(0deg);
                /* left: -350%; */
                left: -950px;
                
            }
            100% {
                transform: rotate(360deg);
                left: 5px;
            }
        }
        
        .carte img {
            width: 250px;
            height: 300px;
            border-radius: 10px;
            /* Animation de l'image */
            position: absolute;
            top: 9%;
            transform: rotateY(360deg);
            /* transform: rotate(270deg); Tourne l'image de 270 degrés */
            transition-property: left;
            transition-duration: 5s;
            /* transition-delay: 0.2s; */
            animation: carte 5s ease-in;
        }
  
}
